@font-face {
  font-family: ABCFavorit;
  src: url('/assets/fonts/ABCFavorit/ABCFavorit-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: ABCFavorit;
  src: url('/assets/fonts/ABCFavorit/ABCFavorit-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Retina;
  src: url('/assets/fonts/Retina/Retina-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Retina;
  src: url('/assets/fonts/Retina/Retina-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
