@import '@/styles/fonts.css';
@import '@/styles/reset.css';

/* Theme */

:root {
  --radius-default: 4px;
  --width-wrapper-max: 1080px;
  --width-wrapper-margin: 48px;
  --color-black-real: #000;
  --color-light-purple: #7c6dfe;
  --color-black: #0d0d0d;
  --color-white: #ffffff;
  --color-light-grey: #e5e5e5;
  --color-dark-grey: #242424;
  --ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}

:focus-visible {
  outline: 2px solid var(--color-light-purple);
  outline-offset: 2px;
}

::selection {
  background-color: var(--color-light-purple);
  color: #ffffff;
}

/* Common */

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: ABCFavorit, Retina, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.wrapper {
  width: calc(100% - var(--width-wrapper-margin));
  max-width: var(--width-wrapper-max);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: block;
  position: relative;
  background: none;
  height: 36px;
  cursor: pointer;
  border: 1px solid var(--color-fg);
  white-space: nowrap;
  font-size: 1.3rem;
  padding: 0 18px;
  font-weight: 500;
  line-height: 1.7rem;
  color: var(--color-fg);
  border-radius: var(--radius-default);
}

.button__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
  fill: var(--color-fg);
}

@media (max-width: 640px) {
  .button:active {
    background-color: var(--color-fg);
    color: var(--color-bg);
  }

  .button:active .button__icon {
    fill: var(--color-bg);
  }
}

@media (min-width: 640px) {
  .button {
    will-change: background-color, color;
    transition:
      background-color 200ms var(--ease-in-out),
      color 200ms var(--ease-in-out);
  }

  .button .button__icon {
    will-change: fill;
    transition: fill 200ms var(--ease-in-out);
  }

  .button:hover {
    background-color: var(--color-fg);
    color: var(--color-bg);
  }

  .button:hover .button__icon {
    fill: var(--color-bg);
  }
}

.button.button--display {
  display: block;
}

/* Helpers */

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
}

.no-pointer {
  pointer-events: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.no-mobile {
  display: none;
}

@media (min-width: 640px) {
  .no-mobile {
    display: block;
  }

  .no-desktop {
    display: none;
  }
}

.no-light,
.no-dark {
  display: none;
}

:root[data-color-scheme='light'] {
  .no-light {
    display: block;
  }

  .no-dark {
    display: none;
  }
}

:root[data-color-scheme='dark'] {
  .no-dark {
    display: block;
  }

  .no-light {
    display: none;
  }
}

/* States */

:root[data-color-scheme='light'] {
  --color-bg: var(--color-white);
  --color-fg: var(--color-black);
  --color-muted: var(--color-light-grey);
}

:root[data-color-scheme='dark'] {
  --color-bg: var(--color-black);
  --color-fg: var(--color-white);
  --color-muted: var(--color-dark-grey);
}

body.scroll-down .header {
  transform: translateY(-100%);
}

body.scroll-up .header {
  transform: translateY(0);
}

:root[data-color-scheme='light'] .modal__content {
  background-color: var(--color-muted);
}

:root[data-color-scheme='dark'] .modal__content {
  background-color: var(--color-black-real);
}
