.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(from var(--color-black) r g b / 0);
  backdrop-filter: blur(0px);
  transition:
    background-color 400ms var(--ease-out-expo),
    backdrop-filter 400ms var(--ease-out-expo);
  cursor: pointer;
  will-change: background-color, backdrop-filter;
}

.modal__content {
  position: relative;
  width: calc(100% - var(--width-wrapper-margin));
  max-width: var(--width-wrapper-max);
  border-radius: var(--radius-default);
  overflow: hidden;
  padding: calc(var(--width-wrapper-margin) / 4);
  opacity: 0;
  will-change: opacity;
  transition: opacity 400ms var(--ease-out-expo);
}

.modal__top-bar {
  display: flex;
  justify-content: flex-end;
  padding-bottom: calc(var(--width-wrapper-margin) / 4);
}

.modal__player-wrapper {
  position: relative;
  aspect-ratio: 16 / 9;
  background-color: #000;
  width: 100%;
  border-radius: var(--radius-default);
  overflow: hidden;
}

.modal--visible {
  pointer-events: auto;
}

.modal--visible .modal__overlay {
  background-color: rgb(from var(--color-black) r g b / 0.8);
  backdrop-filter: blur(15px);
  transition:
    background-color 400ms var(--ease-out-expo),
    backdrop-filter 400ms linear;
}

.modal--visible .modal__content {
  opacity: 1;
}

.modal__close {
  border: none;
}

@media (min-width: 640px) {
}
